.block {
  height: 297px;
  width: 252px;
  left: 0px;
  top: 0px;
  border-radius: 5px;
  background: linear-gradient(
    145.57deg,
    rgba(255, 164, 81, 0.84) 60.27%,
    rgba(244, 183, 127, 0.22) 96.57%
  );
  position: relative;
  padding: 0 15px;
}
.title {
  border: none;
  width: 100%;
  padding: 10px 0;
  background: transparent;
  outline: none;
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
}

.title__input {
  border: none;
  width: 100%;
  background-color: transparent;
  color: #ffffff;

  font-size: 20px;
  outline: none;
  margin: 10px;
  padding: 0 10px;
  border-left: 1px solid #fff1f1;
}

.description {
  margin: 20px 30px;
  color: white;
  font-size: 17px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.03em;
}

.description__input {
  border: none;
  width: 100%;
  background: transparent;
  color: #ffffff;
  font-size: 17px;

  line-height: 20px;
  letter-spacing: 0.03em;
  outline: none;
  padding: 10px 0;
  border-top: 2px solid #fff1f1;
}

.button {
  display: none;
}

.cross {
  width: 20px;
  position: absolute;
  right: 0;
  cursor: pointer;
}
