.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 0, 0, 0.623);
}

.listItem {
  padding: 20px;
  background-color: rgb(17, 153, 135);
  margin-bottom: 10px;
  outline: none;
  text-decoration: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}

.listItem:hover {
  background-color: aquamarine;
}
