html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  padding: 20px;
  background-color: antiquewhite;
  margin: 10px 20px;
}

* {
  box-sizing: border-box;
}

.btn {
  background: rgba(255, 164, 81, 0.84);
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 10px 16px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  letter-spacing: 1px;
  width: auto;
}
.btn:hover {
  background-color: rgb(255, 165, 81);
}

.notes-container {
  margin: 100px 40px;
}

.btn-container {
  width: auto;
  margin-bottom: 40px;
}

.notes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.note {
  background: linear-gradient(
    145.57deg,
    rgba(255, 164, 81, 0.84) 7.27%,
    rgba(244, 183, 127, 0.22) 96.57%
  );
  border-radius: 5px;
  width: 250px;
  height: 300px;
  margin-bottom: 40px;
}

.note-header {
  padding: 10px;
  position: relative;
  font-weight: bold;
  border-bottom: 3px solid white;
  width: 90%;
  margin: auto;
}

.note-body {
  margin: auto;
  margin-top: 20px;
  width: 90%;
  text-align: center;
  color: white;
  font-size: small;
}

.note-title {
  color: white;
  text-align: center;
  width: 100%;
}
.note-remove {
  color: red;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 0.3s;
}
/* .note-remove:hover {
  transform: translateY(-50%);

  transform: scale(1.5);
} */

input {
  outline: none;
  border: none;
  background-color: transparent;
  color: white;
  border-left: 3px solid white;
  padding-left: 9px;
}
input::placeholder {
  color: white;
  font-size: bold;
  font-weight: bold;
}
