.button {
  position: absolute;
  width: 144px;
  height: 35px;
  left: 115px;
  top: 140px;
  background: rgba(255, 164, 81, 0.84);
  border-radius: 5px;
  border: none;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: #fefefe;
}
