.card {
  display: inline-flex;
  border-radius: 0.3rem;
  box-shadow: 1px 2px 5px 3px rgba(0, 0, 0, 0.658);
  /* overflow: hidden; */
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

.small {
  height: 5rem;
  width: 5rem;
}
.medium {
  height: 8rem;
  width: 8rem;
}

.large {
  height: 12rem;
  width: 12rem;
}
