.container {
  position: relative;
  width: 100%;

  background: #ffffff;
}
.main {
  padding: 10px 0;
  margin: 20px 0;
}

.blocks {
  position: absolute;
  width: 80%;
  left: 115px;
  top: 215px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}
